In [23]:
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import linear_model

from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [24]:
ML_df = pd.read_csv(Path(r'C:\Users\helen\Desktop\Berkeley boot camp\Datasets\carbon_emission_analysis\Jupyter notebook/ml_database2.csv'))

In [25]:
ML_df["State"].value_counts()

TX    3916
LA    2042
CA    1981
PA    1407
OH    1257
IL    1241
MI    1079
NY    1023
FL     869
OK     826
Name: State, dtype: int64

In [26]:
ML_df = ML_df.rename(columns={"Facility Id":"fac_id"})
ML_df

,Unnamed: 0,fac_id,State,industry_type,year,total_direct_emissions,state_population,state_gdp_per_capita,state_policies_incentives,USDA_energy_invest_unit,USDA_energy_invest_$,%Renewables
0,0,1004377,TX,Waste Management and Remediation Services,2016,221014.750,27914064,58033.62062,140,176,83600842.01,13.4
1,1,1003188,TX,Plastics and Rubber Products Manufacturing,2016,31773.480,27914064,58033.62062,140,176,83600842.01,13.4
2,2,1007733,TX,Utilities,2016,22362.816,27914064,58033.62062,140,176,83600842.01,13.4
3,3,1002685,TX,Oil and Gas Extraction,2016,265377.770,27914064,58033.62062,140,176,83600842.01,13.4
4,4,1005601,TX,Nonmetallic Mineral Product Manufacturing,2016,55858.240,27914064,58033.62062,140,176,83600842.01,13.4
...,...,...,...,...,...,...,...,...,...,...,...,...
15636,30218,1013807,OK,Waste Management and Remediation Services,2020,27637.500,3980783,47953.83220,41,5,112008.16,37.1
15637,30219,1002467,OK,Pipeline Transportation,2020,62438.954,3980783,47953.83220,41,5,112008.16,37.1
15638,30220,1002470,OK,Oil and Gas Extraction,2020,32642.260,3980783,47953.83220,41,5,112008.16,37.1
15639,30221,1002310,OK,Petroleum and Coal Products Manufacturing,2020,743181.048,3980783,47953.83220,41,5,112008.16,37.1
15640,30222,1005241,OK,Utilities,2020,1683.944,3980783,47953.83220,41,5,112008.16,37.1

In [27]:
ML_df.value_counts("industry_type")

industry_type
Utilities                                                                 3249
Waste Management and Remediation Services                                 2701
Oil and Gas Extraction                                                    2133
Chemical Manufacturing                                                    1662
Pipeline Transportation                                                   1613
Nonmetallic Mineral Product Manufacturing                                  740
Primary Metal Manufacturing                                                616
Petroleum and Coal Products Manufacturing                                  539
Food Manufacturing                                                         516
Paper Manufacturing                                                        355
Educational Services                                                       251
Transportation Equipment Manufacturing                                     189
Mining (except Oil and Gas)                                                185
Hospitals                                                                   93
Fabricated Metal Product Manufacturing                                      91
Computer and Electronic Product Manufacturing                               86
National Security and International Affairs                                 68
Plastics and Rubber Products Manufacturing                                  58
Professional, Scientific, and Technical Services                            57
Support Activities for Mining                                               53
Wood Product Manufacturing                                                  52
Beverage and Tobacco Product Manufacturing                                  50
Machinery Manufacturing                                                     47
Warehousing and Storage                                                     37
Support Activities for Transportation                                       31
Electrical Equipment, Appliance, and Component Manufacturing                29
Real Estate                                                                 19
Executive, Legislative, and Other General Government Support                18
Crop Production                                                             15
Religious, Grantmaking, Civic, Professional, and Similar Organizations      10
Justice, Public Order, and Safety Activities                                10
Miscellaneous Manufacturing                                                 10
Merchant Wholesalers, Nondurable Goods                                       9
Heavy and Civil Engineering Construction                                     8
Administrative and Support Services                                          7
Administration of Economic Programs                                          5
Merchant Wholesalers, Durable Goods                                          5
Furniture and Related Product Manufacturing                                  5
Amusement, Gambling, and Recreation Industries                               5
Air Transportation                                                           5
Accommodation                                                                5
Space Research and Technology                                                3
Management of Companies and Enterprises                                      1
dtype: int64

In [28]:
# Select the main "industr_type"
sectors = {"Utilities",
           "Waste Management and Remediation Services",
           "Oil and Gas Extraction",
           "Chemical Manufacturing ",
           "Pipeline Transportation",
          "Nonmetallic Mineral Product Manufacturing",
          "Primary Metal Manufacturing",
          "Petroleum and Coal Products Manufacturing"}

ML_optimized_df = ML_df.loc[ML_df["industry_type"].isin(sectors)]
ML_optimized_df

,Unnamed: 0,fac_id,State,industry_type,year,total_direct_emissions,state_population,state_gdp_per_capita,state_policies_incentives,USDA_energy_invest_unit,USDA_energy_invest_$,%Renewables
0,0,1004377,TX,Waste Management and Remediation Services,2016,221014.750,27914064,58033.62062,140,176,83600842.01,13.4
3,3,1002685,TX,Oil and Gas Extraction,2016,265377.770,27914064,58033.62062,140,176,83600842.01,13.4
4,4,1005601,TX,Nonmetallic Mineral Product Manufacturing,2016,55858.240,27914064,58033.62062,140,176,83600842.01,13.4
5,5,1005046,TX,Nonmetallic Mineral Product Manufacturing,2016,39418.452,27914064,58033.62062,140,176,83600842.01,13.4
12,12,1010475,TX,Oil and Gas Extraction,2016,43226.158,27914064,58033.62062,140,176,83600842.01,13.4
...,...,...,...,...,...,...,...,...,...,...,...,...
15635,30217,1007801,OK,Waste Management and Remediation Services,2020,174129.750,3980783,47953.83220,41,5,112008.16,37.1
15636,30218,1013807,OK,Waste Management and Remediation Services,2020,27637.500,3980783,47953.83220,41,5,112008.16,37.1
15637,30219,1002467,OK,Pipeline Transportation,2020,62438.954,3980783,47953.83220,41,5,112008.16,37.1
15638,30220,1002470,OK,Oil and Gas Extraction,2020,32642.260,3980783,47953.83220,41,5,112008.16,37.1
15639,30221,1002310,OK,Petroleum and Coal Products Manufacturing,2020,743181.048,3980783,47953.83220,41,5,112008.16,37.1

In [29]:
# Select the columns we need for the linear regression
ML_optimized_df = ML_optimized_df.drop(columns = ["Unnamed: 0", "fac_id", "year", "State"], axis = 1)
ML_optimized_df

,industry_type,total_direct_emissions,state_population,state_gdp_per_capita,state_policies_incentives,USDA_energy_invest_unit,USDA_energy_invest_$,%Renewables
0,Waste Management and Remediation Services,221014.750,27914064,58033.62062,140,176,83600842.01,13.4
3,Oil and Gas Extraction,265377.770,27914064,58033.62062,140,176,83600842.01,13.4
4,Nonmetallic Mineral Product Manufacturing,55858.240,27914064,58033.62062,140,176,83600842.01,13.4
5,Nonmetallic Mineral Product Manufacturing,39418.452,27914064,58033.62062,140,176,83600842.01,13.4
12,Oil and Gas Extraction,43226.158,27914064,58033.62062,140,176,83600842.01,13.4
...,...,...,...,...,...,...,...,...
15635,Waste Management and Remediation Services,174129.750,3980783,47953.83220,41,5,112008.16,37.1
15636,Waste Management and Remediation Services,27637.500,3980783,47953.83220,41,5,112008.16,37.1
15637,Pipeline Transportation,62438.954,3980783,47953.83220,41,5,112008.16,37.1
15638,Oil and Gas Extraction,32642.260,3980783,47953.83220,41,5,112008.16,37.1
15639,Petroleum and Coal Products Manufacturing,743181.048,3980783,47953.83220,41,5,112008.16,37.1

In [30]:
# Transform the categorical features into numerical data
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
#ML_optimized_df['State'] = le.fit_transform(ML_optimized_df['State'])
ML_optimized_df['industry_type'] = le.fit_transform(ML_optimized_df['industry_type'])
ML_optimized_df

,industry_type,total_direct_emissions,state_population,state_gdp_per_capita,state_policies_incentives,USDA_energy_invest_unit,USDA_energy_invest_$,%Renewables
0,5,221014.750,27914064,58033.62062,140,176,83600842.01,13.4
3,1,265377.770,27914064,58033.62062,140,176,83600842.01,13.4
4,0,55858.240,27914064,58033.62062,140,176,83600842.01,13.4
5,0,39418.452,27914064,58033.62062,140,176,83600842.01,13.4
12,1,43226.158,27914064,58033.62062,140,176,83600842.01,13.4
...,...,...,...,...,...,...,...,...
15635,5,174129.750,3980783,47953.83220,41,5,112008.16,37.1
15636,5,27637.500,3980783,47953.83220,41,5,112008.16,37.1
15637,3,62438.954,3980783,47953.83220,41,5,112008.16,37.1
15638,1,32642.260,3980783,47953.83220,41,5,112008.16,37.1
15639,2,743181.048,3980783,47953.83220,41,5,112008.16,37.1

In [31]:
from sklearn.preprocessing import OneHotEncoder

#categorical_transformer = OneHotEncoder(handle_unknown="ignore")
#ML_optimized_df['State'] = enc.fit(ML_optimized_df['State'])
#ML_optimized_df['sector'] = enc.fit_transform(ML_optimized_df['sector'])
#ML_optimized_df

In [32]:
ML_optimized_df = ML_optimized_df.drop(columns = ["state_population"], axis = 1)

In [33]:
# Define the features set
X = ML_optimized_df.copy()
X = X.drop("total_direct_emissions", axis=1)
X.head()

,industry_type,state_gdp_per_capita,state_policies_incentives,USDA_energy_invest_unit,USDA_energy_invest_$,%Renewables
0,5,58033.62062,140,176,83600842.01,13.4
3,1,58033.62062,140,176,83600842.01,13.4
4,0,58033.62062,140,176,83600842.01,13.4
5,0,58033.62062,140,176,83600842.01,13.4
12,1,58033.62062,140,176,83600842.01,13.4

In [34]:
# Define the target set.
y = ML_optimized_df["total_direct_emissions"].values
y[:5]

array([221014.75 , 265377.77 ,  55858.24 ,  39418.452,  43226.158])

In [35]:
# Split the Data Into Training and Testing Sets into an 80/20 split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, train_size=0.75)

In [36]:
# Scale the Training and Testing Data
scaler = StandardScaler()

# Fit and scale the Standard Scaler with the training data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [37]:
#  Create the decision tree regressor instance
model = DecisionTreeRegressor(random_state=0)

# Fit Model
model = model.fit(X_train_scaled, y_train)

In [38]:
print(model.score(X_train_scaled, y_train))
print(model.score(X_test_scaled, y_test))

0.3375119137109458
0.26810952517555275

In [39]:
# Make predictions using the testing data
predictions = model.predict(X_test_scaled)
predictions

array([ 872919.971     ,   69063.36770466,   62067.20376471, ...,
         74489.58342857,   67911.806     , 1639997.08175   ])

In [40]:
# Test the balanced accuracy score of the model
from sklearn.metrics import r2_score
r2_score(y_test, predictions)

0.26810952517555275